body
	background brown
	color grey
	padding 50px

	*
		-webkit-font-smoothing antialiased
		font-family 'Rubik', cursive
		box-sizing border-box

p
	font-size 18px
	margin 0
	line-height 1.3

h1,h2,h3,h4,h5,h6
	letter-spacing 1px
	text-transform uppercase
	margin 10px 0

.info
	text-align center

.fade-up-transition
	transform translate(0,0)
	opacity 1
	transition all 700ms ease-in-out

.fade-up-enter, .fade-up-leave
	transform translate(0,30px)
	opacity 0
